{
  "extends": "react-app",
  "rules": {
    "consistent-return": [0],
    "no-console": [1],
    "no-underscore-dangle": [0],
    "prefer-template": [1],
    "max-len": [2, {
      "code": 100
    }],
    "react/no-unescaped-entities": [0],
    "import/prefer-default-export": [0]
  }
}