# Osx
.DS_Store

# Node
node_modules
npm-debug.log
.env.local

# Build files
build
server/public/backbone-smart-posture-brace/**/*.css*

*.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
