@import "../../colors";
@import "../../variables";

.footer {
  background-color: $primaryColor;
  color: $white;
  width: 100%;
  padding: 10px 0;
  a {
    text-decoration: none;
    padding: 0 15px;
    cursor: pointer;
    color: $white;
    &:hover {
      color: $grey900;
    }
  }
  &__leftside {
    text-align: center;

    @media (min-width: $screen-lg-min) {
      text-align: left;
    }

    a {
      vertical-align: sub;
    }
  }
  &__rightside {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;

    @media (min-width: $screen-lg-min) {
      text-align: right;
      margin-top: 0;
    }
  }
}