$screen-sm-min: 544px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

.custom__item--1497378033246 .custom__image,
.custom__item--1497378153739-1 .custom__image {
  max-height: 720px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #3d4246;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

footer,
main {
  display: block;
}

a {
  background-color: transparent;
  color: #3d4246;
  text-decoration: none;
  touch-action: manipulation;
}

a:hover,
a:focus {
  opacity: 0.6;
}

small {
  font-size: 80%;
}

img {
  max-width: 100%;
  border: 0;
}

.grid {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -22px;

  @media (min-width: $screen-md-min) {
    margin-left: -30px;
  }

  &__item {
    float: left;
    padding-left: 22px;
    width: 100%;

    @media (min-width: $screen-md-min) {
      padding-left: 30px;
    }
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.grid--no-gutters {
  margin-left: 0;
}

.grid--flush-bottom {
  margin-bottom: -40px;
  overflow: auto;

  &>.grid__item {
    margin-bottom: 40px;
  }
}

.one-whole {
  width: 100%;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

@media (max-width: $screen-md-min - 1) {
  .small--one-half {
    width: 50%;
  }
}

@media (min-width: $screen-md-min) {
  .medium-up--one-half {
    width: 50%;
  }
  .medium-up--one-third {
    width: 33.33333%;
  }
  .medium-up--two-thirds {
    width: 66.66667%;
  }
  .grid--uniform .medium-up--one-half:nth-child(2n+1),
  .grid--uniform .medium-up--one-third:nth-child(3n+1) {
    clear: both;
  }
  .medium-up--text-left {
    text-align: left !important;
  }
}

body,
html {
  background-color: #fff;
}

.main-content {
  display: block;
  padding-top: 24px;

  @media (min-width: $screen-md-min) {
    padding-top: 40px;
  }
}

.section-header {
  margin-bottom: 24px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 40px;
  }
}

blockquote {
  font-size: 1em;
  font-style: normal;
  text-align: center;
  padding: 0 30px;
  margin: 0;
}

blockquote cite {
  display: block;
  font-size: 0.85em;
  font-weight: 400;

  &::before {
    content: '\2014 \0020';
  }
}

.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 0 0 17.5px;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.h1 {
  font-size: 1.77778em;
  text-transform: none;
  letter-spacing: 0;

  @media (min-width: $screen-md-min) {
    font-size: 1.94444em;
  }
}

h2,
.h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media (min-width: $screen-md-min) {
    font-size: 1.11111em;
  }
}

h3,
.h3 {
  font-size: 1.11111em;
  text-transform: none;
  letter-spacing: 0;

  @media (min-width: $screen-md-min) {
    font-size: 1.44444em;
  }
}

h4,
.h4 {
  font-size: 0.83333em;

  @media (min-width: $screen-md-min) {
    font-size: 0.94444em;
  }
}

p {
  color: #2d2d2d;
  margin: 0 0 19.44444px;

  @media (max-width: $screen-md-min - 1) {
    font-size: 0.94444em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

svg.icon:not(.icon--full-color) path {
  fill: inherit;
  stroke: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.btn {
  user-select: none;
  appearance: none;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 8px 15px;
  background-color: #f44336;
  color: #fff;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: 16px;

  @media (min-width: $screen-md-min) {
    padding: 10px 18px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

svg:not(:root) {
  overflow: hidden;
}

::-webkit-input-placeholder {
  color: #000;
  opacity: 0.6;
}

::-moz-placeholder {
  color: #000;
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: #000;
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.page-width {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 22px;
  padding-right: 22px;
  *zoom: 1;

  @media (min-width: $screen-md-min) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $screen-lg-min) {
    padding-left: 80px;
    padding-right: 80px;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.page-container {
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  position: relative;
  overflow: hidden;

  @media (min-width: $screen-md-min) {
    transform: translate3d(0, 0, 0);
  }
}

.index-section {
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $screen-md-min) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.index-section--flush:first-child {
  margin-top: -24px;

  @media (min-width: $screen-md-min) {
    margin-top: -40px;
  }
}

.index-section--flush:last-child {
  margin-bottom: -24px;

  @media (min-width: $screen-md-min) {
    margin-bottom: -40px;
  }
}

.notification-bar__message {
  color: #ffffff;
  display: block;
  font-size: 0.88889em;
  font-weight: 700;
  padding: 10px 22px;

  @media (min-width: $screen-md-min) {
    padding: 10px 55px;
  }
}

.site-footer {
  margin: 24px 0;
  text-align: center;

  @media (min-width: $screen-md-min) {
    margin: 40px 0;
    text-align: left;
  }

  &__copyright {
    text-align: center;

    &-content {
      font-size: 0.83333em;
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 357px;
  width: 100%;
  overflow: hidden;

  @media (min-width: $screen-sm-min) {
    height: 475px;
  }

  &__video {
    position: absolute;
    width: 250%;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 50%;

    @media (min-width: 375px) {
      top: -20%;
    }

    @media (min-width: 400px) {
      top: -35%;
    }

    @media (min-width: 450px) {
      left: 50%;
      top: 0;
      width: initial;
      transform: translate(-50%, -34%) scale(0.55);
    }

    @media (min-width: $screen-sm-min) {
      transform: translate(-49%, -30%) scale(0.55);
    }

    @media (min-width: $screen-md-min) {
      transform: translate(-49%, -29%) scale(0.6);
    }

    @media (min-width: 1174px) {
      transform: translate(-49%, -29%) scale(0.65);
    }

    @media (min-width: 1280px) {
      transform: translate(-49%, -29%) scale(0.7);
    }

    @media (min-width: 1370px) {
      transform: translate(-49%, -30%) scale(0.75);
    }

    @media (min-width: 1470px) {
      transform: translate(-49%, -30%) scale(0.8);
    }

    @media (min-width: 1570px) {
      transform: translate(-49%, -30%) scale(0.85);
    }

    @media (min-width: 1670px) {
      transform: translate(-49%, -31%) scale(1);
    }

    @media (min-width: 1900px) {
      transform: none;
      left: 0;
      top: -90%;
      width: 150vh;
      height: 66vw;
      min-width: 100%;
      min-height: 100%;
    }

    @media (min-width: 2048px) {
      left: 0;
      top: -100%;
    }

    @media (min-width: 2150px) {
      left: 0;
      top: -120%;
    }

    @media (min-width: 2340px) {
      left: 0;
      top: -140%;
    }
  }

  &__overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.25;
    z-index: 1;
  }

  &__inner {
    position: relative;
    padding: 40px 0;
    color: #fff;
    flex: 1;
    z-index: 2;
  }

  &__btn {
    background-color: #f44336;
    color: #fff;
    margin-top: 20px;
  }
}

.mega-title,
.mega-subtitle {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.mega-title {
  margin-bottom: 8px;
}

.mega-subtitle {
  margin: 0 auto;

  @media (min-width: 430px) {
    max-width: 95%;
  }

  @media (min-width: 450px) {
    max-width: 90%;
  }

  @media (min-width: 475px) {
    max-width: 85%;
  }

  @media (min-width: 501px) {
    max-width: 80%;
  }

  @media (min-width: 534px) {
    max-width: 75%;
  }

  @media (min-width: 570px) {
    max-width: 70%;
  }

  @media (min-width: 608px) {
    max-width: 65%;
  }

  @media (min-width: 650px) {
    max-width: 60%;
  }

  @media (min-width: 700px) {
    max-width: 55%;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.22222em;
    max-width: 65%;
  }

  @media (min-width: 838px) {
    max-width: 60%;
  }

  @media (min-width: 910px) {
    max-width: 55%;
  }

  @media (min-width: $screen-lg-min) {
    max-width: 50%;
  }

  @media (min-width: 1090px) {
    max-width: 45%;
  }

  @media (min-width: 1210px) {
    max-width: 40%;
  }

  @media (min-width: 1300px) {
    max-width: 100%;
  }

  & p {
    color: inherit;
  }
}

.quote-icon {
  display: block;
  margin: 0 auto 20px;
}

.quotes-slider__text {
  font-size: 1.09722em;
  font-weight: 400;
  font-style: normal;
  padding: 0 15px;

  & cite {
    font-size: 0.81818em;
    font-style: normal;
  }

  & p {
    margin-bottom: 30px;
  }
}

.logo-bar {
  text-align: center;
  margin-bottom: -24px;

  @media (min-width: $screen-lg-min) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1078px) {
    width: 85%;
  }

  @media (min-width: 1130px) {
    width: 80%;
  }

  @media (min-width: 1170px) {
    width: 75%;
  }

  @media (min-width: 1200px) {
    width: 100%;
  }

  &__item {
    display: block;
    margin: 0 auto 20px;
    max-width: 120px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      display: inline-block;
      margin: 0 30px;
      max-width: 140px;
      vertical-align: middle;
    }

    @media (min-width: $screen-lg-min) {
      margin: 0 20px;
      max-width: 160px;
    }
  }
}

.custom-content {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: -22px;
  margin-left: -22px;

  @media (min-width: $screen-md-min) {
    margin-bottom: -30px;
    margin-left: -30px;
  }
}

.custom__item {
  flex: 0 0 auto;
  margin-bottom: 22px;
  padding-left: 22px;
  max-width: 100%;

  @media (min-width: $screen-md-min) {
    padding-left: 30px;
    margin-bottom: 30px;
  }

  &-inner {
    position: relative;
    display: inline-block;
    text-align: left;
    max-width: 100%;
  }

  &-inner--html {
    display: block;
  }
}

.align--center {
  align-self: center;
  text-align: center;
}

.pros-cons {
  @media (min-width: $screen-sm-min) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (min-width: $screen-lg-min) {
    padding-left: 40px;
    padding-right: 40px;
  }

  &__list li {
    margin-bottom: 19.44444px;
    padding-left: 24px;
    text-indent: -24px;
  }
}

.pros > h2 {
  color: #2bc617;
}
.cons > h2 {
  color: red;
}

.pros li {
  padding-left: 24px;
  text-indent: -24px;

  &:before {
    content: '\2714';
    color: #2bc617;
    padding-right: 8px;
  }
}

.cons li {
  padding-left: 22px;
  text-indent: -21px;

  &:before {
    content: '\2718';
    color: red;
    padding-right: 8px;
  }
}

.content-video {
  width: 100%;
  max-width: 600px;
}
