files:
  "/opt/elasticbeanstalk/env.vars" :
    mode: "000775"
    owner: root
    group: users
    content: |
      export HOME=/root
      export NODE_VER=6.9.1
      export ARCH=x64
      export PATH="$PATH:/opt/elasticbeanstalk/node-install/node-v$NODE_VER-linux-$ARCH/bin/:/root/.npm"
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/bin/bash
      # source env variables including node version
      . /opt/elasticbeanstalk/env.vars

      function error_exit
      {
        eventHelper.py --msg "$1" --severity ERROR
        exit $2
      }

      # install yarn
      npm install -g yarn

      # install not-installed yet app node_modules
      if [ ! -d "/var/node_modules" ]; then
        mkdir /var/node_modules ;
      fi
      if [ -d /tmp/deployment/application ]; then
        ln -s /var/node_modules /tmp/deployment/application/
      fi

      OUT=$([ -d "/tmp/deployment/application" ] && cd /tmp/deployment/application && echo "Running yarn install..." && /opt/elasticbeanstalk/node-install/node-v$NODE_VER-linux-$ARCH/bin/yarn install --production 2>&1) || error_exit "Failed to run yarn install.  $OUT" $?
      echo $OUT
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh" :
    mode: "000666"
    owner: root
    group: users
    content: |
       # no need to run npm install during configdeploy
