option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:901560206111:certificate/dd178fb9-2144-46e1-8afc-2c7262c70285
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckInterval: 15
    HealthCheckPath: /
    HealthyThresholdCount: 2
    Port: 80
    Protocol: HTTP
    UnhealthyThresholdCount: 2
  aws:elasticbeanstalk:environment:process:https:
    HealthCheckInterval: 15
    HealthCheckPath: /
    HealthyThresholdCount: 2
    Port: 80
    Protocol: HTTP
    UnhealthyThresholdCount: 2
