<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#if title}}{{title}} | {{/if}}Backbone Labs</title>
    <link type="text/css" rel="stylesheet" href="/public/css/normalize.css" >
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css" >
  </head>
  <body>
    <div class="mailingList__bg-image"></div>
    <div class="mailingList__container">
      <img src="/public/img/Logo.png" class="mailingList__img" />

      {{#if success}}
        <h1>{{success}}</h1>
      {{else}}
        <form class="mailingList__form" method='POST' action='/mailing-list'>
          <input class="mailingList__input" type="email" name="email" placeholder="Backbone@mail.com"/>
          <button class="mailingList__btn" type="submit">Sign up</button>
        </form>
      {{/if}}

      {{#if error}}
        <p class="mailingList__error">{{error}}</p>
      {{/if}}
    </div>

  </body>
</html>