@import '~normalize.css/normalize';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

// Theme
$primaryColor: #ED1C24;
$materialPrimaryColor: #F44336;
$secondaryColor: #f0b94d;
$backgroundColor: #F5F5F5;
$textColor: #212121;

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
  // background-color: $backgroundColor;
}

.secondary-text {
  font-size: 12px;
}
