@import '~normalize.css/normalize';

// Theme
$primaryColor: #ED1C24;
$materialPrimaryColor: #F44336;
$secondaryColor: #f0b94d;
$backgroundColor: #F5F5F5;
$textColor: #212121;

html, body {
  height: 100%;
}

body {
  color: $textColor;
  // background-color: $backgroundColor;
}

body, button, input {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
}

.secondary-text {
  font-size: 12px;
}
