@import '~normalize.css/normalize';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

// Theme
$primaryColor: #ED1C24;
$textColor: #212121;

body {
    font-family: 'Roboto', sans-serif;
    color: $textColor;
}
