@import "../../colors";
.home__bg-image {
  width: 100%;
  height: 100%;
  background: url('../../images/background.jpg') 10% center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(218, 225, 227, .3);
  }
}

.home__logo {
  width: 35%;
  display: block;
  margin: 0 auto 45px auto;
}

.home__app-badge {
  padding: 0 5px;
  width: 150px;
  &:hover {
    opacity: 0.8;
  }
}

.home__arrow {
  font-size: 35px;
  cursor: pointer;
  &:hover {
    color: $red500;
  }
}

.home__jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  h2 {
    color: $white;
  }
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    color: $white;
    text-align: center;
    button {
      margin-bottom: 155px;
    }
  }
}

.home__benefits {
  background-color: $white;
  text-align: center;
  .backbone-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  h2 {
    text-align: center;
    margin-bottom: 65px;
  }
  i {
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    font-size: 17px;
    line-height: 1.6;
    color: #57585a;
  }
}

.home__product {
  background-color: $white;
  h1 {
    text-transform: uppercase;
    font-weight: 700;
  }
  p {
    font-size: 17px;
    line-height: 1.6;
    color: #57585a;
  }
  .product-info {
    padding: 35px 45px;
  }
  .posture-brace {
    background: url('../../images/image-one.jpg');
  }
  .sensor-module {
    background: url('../../images/image-two.jpg');
  }
  .mobile-application {
    background: url('../../images/image-three.jpg');
  }
  .img-container {
    height: 400px;
    background-position: center center;
    background-size: cover;
  }
}

.home__testimonials {
  height: 400px;
}

.home__videos {
  background-color: $white;
  padding: 25px;
  .video-container {
    height: 400px;
    background-color: $grey100;
    iframe {
      width: 100%;
      height: 100%;
      padding: 20px;
    }
  }
}

.home__contact {
  background-color: $grey100;
  padding: 55px 0;
  p {
    margin-bottom: 45px;
    text-align: center;
  }
  button {
    margin-top: 75px;
    width: 200px;
  }
  input,
  select,
  textarea {
    border: 0;
    outline: 0;
    padding: 16px 16px 16px 10px;
    border-radius: 0;
    background-color: $white;
    width: 90%;
    margin-top: 16px;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;
    &:focus {
      box-shadow: 0 0px 2px rgba($red500, 1);
    }
  }
  select {
    height: 48px;
    color: #57585a;
    appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('../../images/select-arrow.svg'); // padding: .5em;
  }
  textarea {
    height: 114px;
  }
  h1 {
    font-weight: 700;
    margin-top: 0;
    text-align: center;
  }
}