@import "../../colors";
@import "../../global.scss";

.home {
  &__hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient( rgba(218, 225, 227, .3), rgba(218, 225, 227, .3)), url('https://cdn.gobackbone.com/assets/hero.jpg') center no-repeat;
    background-size: cover;
  }

  &__logo {
    width: 35%;
    display: block;
    margin: 0 auto 45px auto;
  }

  &__jumbo-text {
    font-size: 55px;
    color: white;
    @media (max-width: $ipad) {
      font-size: 35px;
    }
  }

  &__app-badge {
    padding: 0 5px;
    width: 150px;
    &:hover {
      opacity: 0.8;
    }
  }

  &__jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h2 {
      color: $white;
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      margin-bottom: 0;
      color: $white;
    }
      &__arrow {
      font-size: 35px;
      cursor: pointer;
      text-align: center;
      margin-bottom: 70px;
      color: $white;
      &:hover {
        color: $red500;
      }
    }
  }

  &__funding-status {
    background-color: $red500;
    color: $white;
    padding: 18px 0;
    text-transform: uppercase;
  }

  &__press {
    padding: 18px 0;
  }

  &__product {
    background-color: $white;
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      @media (max-width: $iphone6Plus) {
        font-size: 22px;
      }
    }
    p {
      font-size: 17px;
      line-height: 1.6;
      color: #57585a;
      @media (max-width: $iphone6Plus) {
        font-size: 15px;
      }
    }
    .product-info {
      padding: 35px 45px;
      @media (max-width: $iphone6Plus) {
        padding: 10px;
      }
    }
    .posture-brace {
      background: url('https://cdn.gobackbone.com/assets/shoulder-strap.jpg');
    }
    .sensor-module {
      background: url('https://cdn.gobackbone.com/assets/module-floating-angled.jpg');
    }
    .mobile-application {
      background: url('https://cdn.gobackbone.com/assets/app-screens.jpg');
    }
    .img-container {
      height: 400px;
      background-position: center center;
      background-size: cover;
      @media (max-width: $iphone6Plus) {
        height: 300px;
      }
    }
  }

  &__testimonials {
    padding: 75px 0;
    background-color: $grey100;
    p {
      color: #57585a;
      font-weight: 400;
      margin-bottom: 0;
      span {
        display: block;
        text-align: right;
        font-weight: 700;
      }
    }
    h1 {
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 45px;
    }
    .fa-quote-left {
      font-size: 24px;
      padding-right: 15px;
    }
    .testimonials-container {
      height: 150px;
      margin-bottom: 25px;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: justify;
      }
    }
  }

  &__videos {
    background-color: $white;
    padding: 75px 0;
    .video-container {
      height: 400px;
      background-color: $grey100;
      @media (max-width: $ipad) {
        margin-top: 15px;
        height: 350px;
      }
      @media (max-width: $iphone6Plus) {
        height: 240px;
      }
      iframe {
        width: 100%;
        height: 100%;
        padding: 20px;
      }
    }
  }

  &__contact {
    background-color: $grey100;
    padding: 55px 0;
    p {
      margin-bottom: 45px;
      text-align: center;
    }
    button {
      margin-top: 20px;
      width: 200px;
    }
    input,
    select,
    textarea {
      border: 0;
      outline: 0;
      padding: 16px 16px 16px 10px;
      border-radius: 0;
      background-color: $white;
      width: 90%;
      margin-top: 16px;
      box-shadow: 0 1px 1px rgba(black, 0.1);
      resize: none;
      &:focus {
        box-shadow: 0 0px 2px rgba($red500, 1);
      }
    }
    select {
      height: 48px;
      padding: 10px;
      color: #57585a;
      appearance: none;
      background-position: right 50%;
      background-repeat: no-repeat;
      background-image: url('../../images/select-arrow.svg');
    }
    textarea {
      height: 114px;
    }
    h1 {
      font-weight: 700;
      margin-top: 0;
      text-align: center;
    }
    .required-field {
      border: 2px solid red !important;
    }
    .error-message {
      margin: 15px 0 0 0;
      color: red;
    }
  }
}