@import "../../colors";
@import "../../global.scss";

.home {
  &__section {
    padding: 24px 0;

    &_title {
      margin-bottom: 24px;
    }
  }

  &__hero {
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    position: relative;
    overflow: hidden;

    background: linear-gradient( rgba(218, 225, 227, .3), rgba(218, 225, 227, .3)), url('https://cdn.gobackbone.com/assets/hero.jpg') center no-repeat;
    background-size: cover;

    &_video {
      height: 100%;
      width: 177.78vh;
      min-width: 100%;
      min-height: 56.25vw;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 480px) {
        display: none;
      }
    }

    &_content {
      color: white;
      position: absolute;
      background: rgba(0, 0, 0, 0.35);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: inherit;
      width: 100%;
      z-index: 3;
    }

    &_button {
      margin-top: 3rem;
    }
  }

  &__funding-status {
    background-color: $red500;
    color: $white;
    padding: 16px 0;
    position: relative;
    text-transform: uppercase;
  }

  &__press {
    padding: 18px 0;

    &_image {
      max-width: 100%;
    }
  }

  &__posture {
    background-color: $grey100;

    &_pro-cons {
      padding-left: 24px;
      padding-right: 24px;

      @media (min-width: 992px) {
        padding-left: 56px;
        padding-right: 56px;
      }

      & i {
        vertical-align: middle;
      }

      &--good i {
        color: $greenA700;
      }

      &--bad i {
        color: $red500;
      }
    }
  }

  .backbone-showcase {
    max-width: 100%;
  }

  &__features {
    background-color: $grey100;

    &-stage-list {
      margin-bottom: 32px;
    }

    &-stage-item {
      display: flex;
      align-items: center;
      border: 1px solid black;

      &-image {
        height: 250px;
        background-color: red;
      }
    }

    &-list-row-1 {
      font-size: 20px;
      margin: 16px 0;
    }

    &-list-row-2 {
      font-size: 18px;
      margin: 16px 0;
    }

    &-list-item {
      a {
        border: 1px solid $red500;
        border-radius: 4px;
        color: inherit;
        cursor: pointer;
        display: inline-block;
        padding: 18px;
        text-decoration: none;
        width: 100%;

        &:hover {
          background-color: $red500;
        }
      }
    }
  }

  &__product {
    background-color: $white;
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      @media (max-width: $iphone6Plus) {
        font-size: 22px;
      }
    }
    p {
      font-size: 17px;
      line-height: 1.6;
      color: #57585a;
      @media (max-width: $iphone6Plus) {
        font-size: 15px;
      }
    }
    .product-info {
      padding: 35px 45px;
      @media (max-width: $iphone6Plus) {
        padding: 10px;
      }
    }
    .posture-brace {
      background: url('https://cdn.gobackbone.com/assets/shoulder-strap.jpg');
    }
    .sensor-module {
      background: url('https://cdn.gobackbone.com/assets/module-floating-angled.jpg');
    }
    .mobile-application {
      background: url('https://cdn.gobackbone.com/assets/app-screens.jpg');
    }
    .img-container {
      height: 400px;
      background-position: center center;
      background-size: cover;
      @media (max-width: $iphone6Plus) {
        height: 300px;
      }
    }
  }

  &__testimonials {
    padding: 75px 0;
    background-color: $grey100;
    p {
      color: #57585a;
      font-weight: 400;
      margin-bottom: 0;
      span {
        display: block;
        text-align: right;
        font-weight: 700;
      }
    }
    h1 {
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 45px;
    }
    .fa-quote-left {
      font-size: 24px;
      padding-right: 15px;
    }
    .testimonials-container {
      height: 150px;
      margin-bottom: 25px;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: justify;
      }
    }
  }

  &__videos {
    background-color: $white;
    padding: 75px 0;
    .video-container {
      height: 400px;
      background-color: $grey100;
      @media (max-width: $ipad) {
        margin-top: 15px;
        height: 350px;
      }
      @media (max-width: $iphone6Plus) {
        height: 240px;
      }
      iframe {
        width: 100%;
        height: 100%;
        padding: 20px;
      }
    }
  }

  &__contact {
    background-color: $grey100;
    padding: 55px 0;
    p {
      margin-bottom: 45px;
      text-align: center;
    }
    button {
      margin-top: 20px;
      width: 200px;
    }
    input,
    select,
    textarea {
      border: 0;
      outline: 0;
      padding: 16px 16px 16px 10px;
      border-radius: 0;
      background-color: $white;
      width: 90%;
      margin-top: 16px;
      box-shadow: 0 1px 1px rgba(black, 0.1);
      resize: none;
      &:focus {
        box-shadow: 0 0px 2px rgba($red500, 1);
      }
    }
    select {
      height: 48px;
      padding: 10px;
      color: #57585a;
      appearance: none;
      background-position: right 50%;
      background-repeat: no-repeat;
      background-image: url('../../images/select-arrow.svg');
    }
    textarea {
      height: 114px;
    }
    h1 {
      font-weight: 700;
      margin-top: 0;
      text-align: center;
    }
    .required-field {
      border: 2px solid red !important;
    }
    .error-message {
      margin: 15px 0 0 0;
      color: red;
    }
  }
}