@import "../../colors";

.preorder__bg-image {
  width: 100%;
  height: 100%;
  background: url('../../images/background.jpg') 10% center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(218,225,227,.3);
  }
}

.preorder__logo {
  width: 25%;
  display: block;
  margin: 0 auto 45px auto;
}

.preorder__app-badge {
  padding: 0 5px;
  width: 150px;
  &:hover {
    opacity: 0.8;
  }
}

.preorder__form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  h2 {
    color: $white;
  }

  &-header {
    margin-bottom: 25px;
    color: $white;
    text-align: center;
  }

  &-form {
    width: 80%;
    text-align: center;
  }

  &-input {
    border: none;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    font-weight: 700;
    height: 50px;
    margin: 0 auto;
    max-width: 350px;
    outline: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    @media (min-width: 768px) {
      border-radius: 2px 0 0 2px;
      display: inline-block;
    }
  }

  &-btn {
    background-color: $red500;
    border: 1px solid $red400;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: 50px;
    margin: 16px auto 0;
    max-width: 200px;
    outline: 0;
    padding: 0;
    transition: background .3s;
    width: 100%;

    @media (min-width: 768px) {
      border-radius: 0 2px 2px 0;
      display: inline-block;
      margin-top: 0;
    }

    &:hover {
      background: $red400;
    }
  }

}

.preorder__error {
  color: $red500;
}