@import "../../colors";
@import "../../variables";

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $iphone6Plus) {
      margin-bottom: 15px;
    }

    h1 {
      flex: 2;
      @media (max-width: $iphone6Plus) {
        flex: 100%;
        text-align: center;
      }
    }
  }

  &__edit-btn {
    &:hover {
      background-color: $grey800 !important;
      color: $white !important;
    }
    background-color: $grey900 !important;
    color: $white !important;
  }

  &__cta {
    margin-left: 10px;
  }

  &__form {
    width: 800px;
    input, select {
      border-bottom: none;
    }
    input:focus, .mui-select:focus>select {
      border-color: $grey900;
    }
    input:focus~label {
      color: $grey900;
    }
    .mui-select:focus>label {
      color: $grey900;
    }
    .mui-textfield>input:disabled {
      color: rgba(0,0,0,.38);
    }

    @media only screen
      and (min-device-width: $iphone6Plus)
      and (max-device-width: $iphone6LsMax) {
      width: 600px;
    }

    @media only screen
      and (min-device-width: $iphone5)
      and (max-device-width: $iphone5LsMax) {
      width: 500px;
    }

    @media (max-width: $iphone6Plus) {
      width: 320px;
    }

    @media (max-width: $iphone5) {
      width: 270px;
    }

    @media (min-width: $ipad) {
      width: 600px;
    }

  }

  &__selectfield {
    display: flex;
  }

  &__leftside-selectfield {
    flex: 3;
  }

  &__rightside-selectfield {
    flex: 1;
    padding-left: 10px;
  }

}
