@import '../../global.scss';

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;

    h1 {
      flex: 2;
    }
  }

  &__cta {
    margin-left: 10px;
  }

  &__form {
    width: 800px;

    .paperStyle {
      padding-bottom: 25px;
    }
  }

  &__textfield-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__textfield {
    width: 600px !important;
  }

  &__selectfield {
    width: 600px !important;
    display: flex;
  }

  &__leftside-selectfield {
    flex: 3;
  }

  &__rightside-selectfield {
    flex: 1;
    padding-left: 10px;
  }

}
