.business__contact {
  h2 {
    font-weight: 700;
  }
  .contact {
    h2 {
      width: 61%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 45px;
    }
  }
  .benefits {
    padding: 65px 0;
  }
}