@import "../../colors";
@import "../../variables";

.business {
  &__section {
    padding: 24px 0;

    &_title {
      margin-bottom: 24px;
    }
  }

  &__contact {
    background-color: $grey100;
    padding-top: 60px !important;

    @media (min-width: $screen-sm-min) {
      padding-top: 100px !important;
    }
  }

  &__benefits {
    i {
      font-size: 55px;
      margin-bottom: 20px;
    }
  }
}